<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#f0f0f0">
  <meta name="twitter:creator" content="@Shrinks99" />
  <meta name="twitter:title" content="{{page.title}}" />
  <meta name="author" content="Henry Wilkinson">
  <meta name="description" content="Designing Node-Based Interfaces">
  <meta name="og:description" content="Designing Node-Based Interfaces">
  <meta name="keywords" content="Nodes, Node-based, Computer Interfaces, Node-graph, Guide, UI/UX, Design">
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content="{{base}}img/social-preview.jpg" />
  <meta name="twitter:image" content="{{base}}img/social-preview.jpg" />
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title }}" />
  <!-- Stylesheets & Fonts -->
  <link rel="stylesheet" href="{{base}}css/main.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
</head>
