<nav class="nav">
  <div>
    <a href="{{ base }}" class="nav-title">
      <h1>Designing <br />Node-Based <br />Interfaces</h1>
    </a>
    <ol>
      {% for sections in site.sections %}
      {% if page.url == sections.url %}
      <li class="nav-list-selected">
        <div class="nav-link-indicator"></div>
        <a class="nav-link-selected" href="{{ site.baseurl }}{{ sections.url }}">{{ sections.title }}</a>
      </li>
      {% endif %}
      {% if page.url != sections.url %}
      <li>
        <a href="{{ site.baseurl }}{{ sections.url }}">{{ sections.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="nav-category">Case Studies</li>
      {% for casestudies in site.casestudies %}
      {% if page.url == casestudies.url %}
      <li class="nav-list-selected">
        <div class="nav-link-indicator"></div>
        <a class="nav-casestudy-link nav-link-selected" href="{{ site.baseurl }}{{ casestudies.url }}">↳{{ casestudies.title }}</a>
      </li>
      {% endif %}
      {% if page.url != casestudies.url %}
      <li>
        <a href="{{ site.baseurl }}{{ casestudies.url }}">↳{{ casestudies.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ol>
  </div>
</nav>