<nav class="sidebarnav">
  <div class="sidebarnav-container">
    <button type="button" class="sidebarnav-title-container sidebar-collapsible">
      <h1 class="sidebarnav-title">Designing Node-Based Interfaces</h1>
    </button>
    <ol class="sidebar-content">
      {% for sections in site.sections %}
      {% if page.url == sections.url %}
      <li class="sidebarnav-list-selected">
        <div class="sidebarnav-link-indicator"></div>
        <a class="sidebarnav-link-selected" href="{{ site.baseurl }}{{ sections.url }}">{{ sections.title }}</a>
      </li>
      {% endif %}
      {% if page.url != sections.url %}
      <li>
        <a href="{{ site.baseurl }}{{ sections.url }}">{{ sections.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <li class="sidebarnav-category">Case Studies</li>
      {% for casestudies in site.casestudies %}
      {% if page.url == casestudies.url %}
      <li class="sidebarnav-list-selected">
        <div class="sidebarnav-link-indicator"></div>
        <a class="sidebarnav-casestudy-link sidebarnav-link-selected" href="{{ site.baseurl }}{{ casestudies.url }}">↳{{ casestudies.title }}</a>
      </li>
      {% endif %}
      {% if page.url != casestudies.url %}
      <li>
        <a href="{{ site.baseurl }}{{ casestudies.url }}">↳{{ casestudies.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <div class="sidebarnav-iconbox">
        <a class="sidebarnav-iconbox-link" href="https://github.com/Shrinks99/node-based-interfaces/" title="Contribute on GitHub">
          <i class='bx bxl-github'></i>
        </a>
        <a class="sidebarnav-iconbox-link" href="https://creativecommons.org/licenses/by/4.0/" title="License Details">
          <i class='bx bxl-creative-commons'></i>
        </a>
      </div>
    </ol>
  </div>
</nav>

<script>
  var small = false;
  //select the element from the DOM
  var coll = document.getElementsByClassName("sidebar-collapsible")[0];
  //create an event listener on the click action
  coll.addEventListener("click", function() {
    console.log("call click");
    //altern on each click this class on the DOM element
    this.classList.toggle("sidebar-collapsible-active");
    //Get the next http element
    var content = this.nextElementSibling;
    //Calc the visual width of the viewport
    const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
    if (vw > 740) {
      content.style.display = "block";
    } else {
      //change it to a ternary operator
      content.style.display = content.style.display === "block" ? "none" : "block"
    }
  });
  window.addEventListener('resize', function(event) {
    var coll = document.getElementsByClassName("sidebar-collapsible")[0];
    const vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
    //Get the next http element
    var content = coll.nextElementSibling;
    if (vw < 740 && !small) {
      small = true
      //altern on each click this class on the DOM element
      coll.classList.add("sidebar-collapsible-active");
      //change it to a ternary operator
      content.style.display = content.style.display === "block" ? "none" : "block"
    } else if (vw >= 740 && small) {
      content.style.display = "block";
    }
  })
</script>