.nav {
  min-height: 3rem;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  // Fix for Safari cards clipping through nav
  transform: translateZ(100px);
}

.nav-container {
  max-width: 1340px;
  width: calc(100% - 1rem);
  display: flex;
  justify-content: space-between;
  background: inherit;
  background-color: rgba(212, 216, 217, 1);
  backdrop-filter: blur(0.5rem);
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: $borderradius;
  box-shadow: $elementshadow;
}

.nav-logobox {
  display: flex;
  align-items: center;
  align-content: center;
}

.nav-logo-link {
  display: block;
}

.nav-logo {
  display: block;
  width: auto;
  height: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.nav-list {
  list-style: none;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-grow: 5;
  margin: 0;
  padding: 0;
}

.nav-list-item-link {
  color: $hwgrey;
  font-family: $bodyfont;
  font-weight: 700;
  text-decoration: none;
}

.nav-list-item-link:hover {
  color: $hwblue;
}

.nav-list-item-link::selection {
  background-color: $hwblue;
  color: white;
}

.nav-iconbox {
  max-width: 310px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.nav-iconbox-link {
  color: black;
  height: 1.5rem;
  display: inline;
  font-size: 1.4rem;
  flex-shrink: 1;
  vertical-align: middle;
  transition: .05s ease-in-out;
}

.nav-iconbox-link:hover {
  transform: scale(1.1);
}

@include mq($from: mobile, $until: tablet) {
  .nav-iconbox {
    display: none;
  }
}